@media (min-width:1500px){.container, .container-lg, .container-mg, .container-md, .container-sm, .container-xl { max-width: 1400px}}

.badge {
    display: inline-block;
    padding: 0.52em 0.593em;
    font-size: 0.8125em;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.bg-success{
    font-weight: 800;
    background-color: rgb(113, 221, 55) !important;
}

.pointer{
    cursor : pointer;
}

.mouseinout:hover{
    background-color: #e9ecef;;
}

a{
    color: black;
}

.mcard{
    align-items: center;
    max-width: 500px;
    margin-top:100px;
}

.mcard-body{
    min-width:500px;
    padding: 1.5rem 1.5rem;
}

.container-modim{
    padding-right: 1.625rem !important;
    padding-left: 1.625rem !important;
}








@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:NanumSquareNeo-Variable;
}